# Environment production
ENV={DEVELOPMENT | PRODUCTION}

# Server
PORT={PORT}
SERVER_HOST={SERVER_HOST}

# Client
CLIENT_HOST={CLIENT_HOST}

# Secret key for JWT and Token
JWT_SECRET={JWT_SECRET}
TOKEN_SECRET={TOKEN_SECRET}

# Database
DB_HOST={DB_HOST}
DB_PORT={DB_PORT}
DB_USER={DB_USER}
DB_PASSWORD={DB_PASSWORD}
DB_NAME={DB_NAME}
DB_SSLMODE={DB_SSLMODE}

# MiniO Configuration
MINIO_ENDPOINT={MINIO_ENDPOINT}
MINIO_ACCESS_KEY={MINIO_ACCESS_KEY}
MINIO_SECRET_KEY={MINIO_SECRET_KEY}
